<!-- Product #1 -->
<div class="item" *ngFor="let item of inventoryArr" >
    <div class="description"  (click)="onSelect(item)">
        <span>{{item.name}}</span>
        <span>{{item.desc}}</span>
        <span>{{item.color}}</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            +
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            -
        </button>
    </div>
    <div class="toCart"> <input type="button" value="to cart"></div>
    <div class="remaining"> {{item.num}} left</div>
</div>





<app-order [item]="selectedItem"></app-order>