<div class="item" *ngFor="let item of inventoryArr">
    <div class="description" (click)="onSelect(item)">
        <span>{{item.name}}</span>
        <span>{{item.description}}</span>
        <span>{{item.color}}</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button" (click)="add(item)">
            +
        </button>
        {{item.curNum}}
        <button class="minus-btn" type="button" name="button" (click)="sub(item)">
            -
        </button>
    </div>

    <div class="remaining"> {{item.leftNum}} left</div>
</div>



<app-order [item]="selectedItem"></app-order>


<app-checkout *ngIf="checkout"> </app-checkout>